.Rproj.user
.Rhistory
.RData
.Ruserdata
targetsV1.csv
tempNetWoT.csv
gene10_subnetwork.txt
gene11_subnetwork.txt
gene12_subnetwork.txt
gene13_subnetwork.txt
gene14_subnetwork.txt
gene15_subnetwork.txt
gene16_subnetwork.txt
gene17_subnetwork.txt
gene18_subnetwork.txt
gene19_subnetwork.txt
gene1_subnetwork.txt
gene20_subnetwork.txt
gene2_subnetwork.txt
gene3_subnetwork.txt
gene4_subnetwork.txt
gene5_subnetwork.txt
gene6_subnetwork.txt
gene7_subnetwork.txt
gene8_subnetwork.txt
gene9_subnetwork.txt
mssmNetwork.csv
reurgentdatastillneededformssmcleanup.zip
